.add-city {
    flex-basis: 70%;
}

.add-city__input {
    padding: $s-size $m-size;
    width: 100%;
}

.add-city__error {
    color: red;
    font-style: italic;
}

@media (max-width: $mobile-breakpoint) {
    .add-city {
        flex-basis: 100%;
        margin-right: $l-size;
    }
}